.quote-quote {
    text-align: center;
    font-size: 10vmin;
    margin-top: 40px;
}

.quote {
    min-height: 70vh;
    font-size: 4vmin;
}

.quote-details {
    text-align: center;
}

.buttons {
    width: 100%;
    display: flex;
    justify-content: center;
}

.buttons>.button {
    margin: auto 2%;
}

.container>form {
    margin-top: 40px;
}

.container>form input {
    width: 100%;
}

input[type=date] {
    box-sizing: border-box;
    height: 38px;
    border: 1px solid #d1d1d1;
    border-radius: 4px;
    padding: 6px 10px;
}

.alert {
    text-align: center;
    margin-top: 40px;
    padding: 40px;
    border-radius: 20px;
    border: 1px solid #222;
}

.success {
    border: 1px solid green;
}

.error {
    border: 1px solid red;
}

footer {
    text-align: center;
}