.quote {
    text-align: center;
    font-size: 10vmin;
    max-height: 60vh;
}

.container > .row:nth-child(2) {
    width: 100%;
    display: flex;
    justify-content: center;
}

.container > .row:nth-child(2) > .button {
    margin: auto 2%;
}
