@media screen and (orientation: landscape) {
    .quote-text {
        font-size: 4vw;
    }

    .quote-text-long {
        font-size: 3vw;
    }

    .quote-details {
        font-size: 2vw;
    }
}

@media screen and (orientation: portrait) {
    .quote-text {
        font-size: 8vw;
    }

    .quote-text-long {
        font-size: 6vw;
    }

    .quote-details {
        font-size: 4vw;
    }
}

.quote-text {
    text-align: center;
    margin-top: 40px;
}

.quote {
    min-height: 70vh;
}

.quote-details {
    text-align: center;
}

.buttons {
    width: 100%;
    display: flex;
    justify-content: center;
}

.buttons>.button {
    margin: auto 2%;
}

.container>form {
    margin-top: 40px;
}

.container>form input {
    width: 100%;
}

input[type=date] {
    box-sizing: border-box;
    height: 38px;
    border: 1px solid #d1d1d1;
    border-radius: 4px;
    padding: 6px 10px;
}

.alert {
    text-align: center;
    margin-top: 40px;
    padding: 40px;
    border-radius: 20px;
    border: 1px solid #222;
}

.success {
    border: 1px solid green;
}

.error {
    border: 1px solid red;
}

footer {
    text-align: center;
}

footer svg {
    margin: 8px;
}